<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cheng.taskmanager.mapper.AchievementMapper">
    <select id="getAchievements" resultType="Achievement">
        select *
        from achievement
        where date between #{region.startDate} and #{region.endDate}
        order by date asc
    </select>
    <select id="getAchievementCount" resultType="int">
        select count(*)
        from achievement
        where date between #{region.startDate} and #{region.endDate}
    </select>
    <insert id="addAchievement" parameterType="Achievement">
        insert into achievement (eid, date)
        values (#{eid}, #{date})
        on duplicate key update eid = values(eid)
    </insert>
</mapper>