<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cheng.taskmanager.mapper.EventMapper">

    <resultMap type="event" id="EventInfo">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="target_progress" property="targetProgress"/>
        <result column="start_date" property="startDate"/>
        <result column="running" property="running"/>
        <result column="type" property="type"/>

        <collection property="progressList" ofType="Progress"
                    select="selectProgress" column="id"/>
    </resultMap>

    <select id="selectProgress" resultType="Progress" parameterType="int">
        select *
        from progress
        where eid = #{id}
        order by date desc
    </select>
    <select id="getCurrentEventCount" resultType="Integer">
        select count(id)
        from event
        where running = true
    </select>
    <select id="getCurrentEvents" resultMap="EventInfo">
        select *
        from event
        where running = true
    </select>
    <select id="getEventById" parameterType="Integer" resultMap="EventInfo">
        select *
        from event
        where id = #{id}
    </select>
    <select id="getProgresses" resultType="Progress">
        select *
        from progress
        where date between #{startDate} and #{endDate}
        order by date desc
    </select>

    <insert id="addEvent" parameterType="Event" useGeneratedKeys="true" keyProperty="id">
        <if test="startDate != null">
            insert into event (name, target_progress, start_date, running, type)
            VALUES (#{name}, #{targetProgress}, #{startDate}, #{running}, #{type})
        </if>
        <if test="startDate == null">
            insert into event (name, target_progress, start_date, running, type)
            VALUES (#{name}, #{targetProgress}, curdate(), #{running}, #{type})
        </if>
    </insert>
    <insert id="addProgress" parameterType="Progress" useGeneratedKeys="true" keyProperty="id">
        insert into progress (eid, progress, record, date)
        values (#{eid}, #{progress}, #{record}, #{date})
        on duplicate key update progress = #{progress},
                                record   = values(record) + record
    </insert>

    <update id="finish" parameterType="Integer">
        update event
        set running = false
        where id = #{id}
    </update>
    <update id="update" parameterType="Event">
        update event
        set name            = #{name},
            target_progress = #{targetProgress}
        where id = #{id}
    </update>
</mapper>