<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cheng.taskmanager.mapper.EventMapper">

    <resultMap type="event" id="EventInfo">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="target_progress" property="targetProgress"/>
        <result column="start_date" property="startDate"/>
        <result column="is_closed" property="isClosed"/>
        <result column="is_finished" property="isFinished"/>
        <result column="type" property="type"/>

        <collection property="progressList" ofType="Progress"
                    select="selectProgress" column="id"/>
    </resultMap>

    <select id="selectProgress" resultType="Progress" parameterType="int">
        select *
        from progress
        where eid = #{id}
        order by date desc
    </select>
    <select id="getCurrentEventCount" resultType="Integer">
        select count(id)
        from event
        where is_finished = false
          and is_closed = false
    </select>
    <select id="getClosedEventCount" resultType="Integer">
        select count(id)
        from event
        where is_closed = true
    </select>
    <select id="getFinishedEventCount" resultType="Integer">
        select count(id)
        from event
        where is_finished = true
    </select>
    <select id="getCurrentEvents" resultMap="EventInfo">
        select *
        from event
        where is_closed = false
          and is_finished = false
        limit #{begin},#{limit}
    </select>
    <select id="getFinishedEvents" resultMap="EventInfo">
        select *
        from event
        where is_finished = true
        limit #{begin},#{limit}
    </select>
    <select id="getClosedEvents" resultMap="EventInfo">
        select *
        from event
        where is_closed = true
        limit #{begin},#{limit}
    </select>
    <select id="getEventById" parameterType="Integer" resultMap="EventInfo">
        select *
        from event
        where id = #{id}
    </select>

    <insert id="addEvent" parameterType="Event" useGeneratedKeys="true" keyProperty="id">
        <if test="startDate != null">
            insert into event (name, target_progress, start_date, is_closed, is_finished, type)
            VALUES (#{name}, #{targetProgress}, #{startDate}, #{isClosed}, #{isFinished}, #{type})
        </if>
        <if test="startDate == null">
            insert into event (name, target_progress, start_date, is_closed, is_finished, type)
            VALUES (#{name}, #{targetProgress}, curdate(), #{isClosed}, #{isFinished}, #{type})
        </if>
    </insert>
    <insert id="addProgress" parameterType="Progress" useGeneratedKeys="true" keyProperty="id">
        insert into progress (eid, progress, date)
        values (#{eid}, #{progress}, #{date})
    </insert>

    <update id="close" parameterType="Integer">
        update event
        set is_closed = true
        where id = #{id}
    </update>
    <update id="finish" parameterType="Integer">
        update event
        set is_finished = true
        where id = #{id}
    </update>
    <update id="update" parameterType="Event">
        update event
        set name            = #{name},
            target_progress = #{targetProgress},
            start_date      = #{startDate}
        where id = #{id}
    </update>
</mapper>